<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>file</title>
</head>
<body>
<div class="box">
    <form method="POST" action = "/upload/uploadFile" enctype = "multipart/form-data" >
        <input type="file" name="file">
        <input type="hidden" name = "description" value = "wx">
        <button type="submit">提交</button>
    </form>
</div>
<style>
    body{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .box{
        width:200px;
        height:200px;
        box-sizing: content-box;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    button{
        margin-top: 20px;
    }
</style>
</body>
</html>