<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>班级风采网站</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates ">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="/css/zerogrid.css">
	<link rel="stylesheet" href="/css/menu.css">

	<!-- Custom Fonts -->
	<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/css/page.css">
	<style type="text/css">
		#main-content {
			width: 1000px;
		}

		#main-content h2 {
			text-align: center;
		}

		.zerogrid .wrap-col {
			padding: 8px 16px;
			background: #f7f9fa;
			height: 450px;
			position: relative;
		}

		.wrap-col h3 {
			border-bottom: 1px solid;
			padding-bottom: 8px;
			margin-bottom: 8px;
		}

		.garden-box {
			margin-bottom: 56px;
		}

		.garden-box li {
			line-height: 30px;
			border-bottom: 1px solid #e5e5e5;
		}

		.garden-box li a {
			color: #252525;
			text-decoration: none;
		}

		.time {
			float: right;
			margin-right: 10px;
			color: #555;
			font-size: 15px;
		}

		.navigation {
			position: absolute;
			bottom: 8px;
			text-align: center;
			width: 100%;
		}
	</style>
</head>

<body>
	<div class="wrap-body" id="app">

		<!--////////////////////////////////////Header-->
		<header class="zerogrid">
			<div id='cssmenu' class="align-center">
				<ul>
					<li><a href='/'><span>首页</span></a></li>
					<li><a href='/notice'><span>班级公告</span></a></li>
					<li><a href='/single'><span>班级简介</span></a></li>
					<li><a href='/newList'><span>班级新闻</span></a></li>
					<li><a href='/archive'><span>班级活动</span></a></li>
					<li><a href='/honor'><span>班级荣誉</span></a></li>
					<li class="active"><a href='/learningGarden'><span>学习园地</span></a></li>
					<li><a href='/message'><span>留言板</span></a></li>
				</ul>
			</div>
		</header>

		<div class="wrap-container">
			<div id="main-content" class="zerogrid">
				<div class="row">
					<div class="col-1-2">
						<div class="wrap-col">
							<h3>时事热点</h3>
							<ul class="garden-box">
								<!-- 一页10条 -->
								<li v-for="(v, index) in list"><a
										:href="'/article?type=article&id='+v.id">{{v.title}}</a><span
										class="time">{{v.updatedAt}}</span></li>
							</ul>
							<div class="navigation">
								<pageination :total="page.total" v-bind:size="page.size" :page="page.page" :objs="page"
									:changge="getProfessionList">
								</pageination>
							</div>
						</div>
					</div>
					<div class="col-1-2">
						<div class="wrap-col">
							<h3>班级新闻</h3>
							<ul class="garden-box">
								<!-- 一页10条 -->
								<li v-for="(v, index) in listOther"><a
										:href="'/article?type=article&id='+v.id">{{v.title}}</a><span
										class="time">{{v.updatedAt}}</span></li>
							</ul>
							<div class="navigation">
								<pageination :total="pageOther.total" v-bind:size="pageOther.size"
									:page="pageOther.page" :objs="pageOther" :changge="getOtherList">
								</pageination>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
<!-- vue和http请求 -->
<script src="/js/jquery-3.0.0.min.js" type="text/javascript"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/vue-resource.min.js"></script>
<script src="/js/pageination.js"></script>
<script src="/js/pageinationOther.js"></script>
<script src="/lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
	var vm = new Vue({
		el: '#app',
		data: {
			pages: 1,
			page: {
				total: 1,//总页数
				size: 10,//每页显示条目个数不传默认10
				page: 1,//当前页码
			},
			list: [],
			pagesOther: 1,
			pageOther: {
				total: 1,//总页数
				size: 10,//每页显示条目个数不传默认10
				page: 1,//当前页码
			},
			listOther: [],
		},
		methods: {
			getProfessionList: function (pages) {
				this.pages = pages;
				this.$http.get("/api/getProfessionList/" + pages).then(res => {
					if (res.body.code == 200) {
						let data = res.body.data;
						this.page.size = data.size;
						this.page.page = data.current;
						this.page.total = data.total;
						this.list = data.records;
					}
				})
			},
			getOtherList: function (pagesOther) {
				this.pagesOther = pagesOther;
				this.$http.get("/api/getOtherList/" + pagesOther).then(res => {
					if (res.body.code == 200) {
						let data = res.body.data;
						this.pageOther.size = data.size;
						this.pageOther.page = data.current;
						this.pageOther.total = data.total;
						this.listOther = data.records;
					}
				})
			},
		},
		created: function () {
		}
	});

</script>

</html>