<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Basic Page Needs
  ================================================== -->
		<meta charset="utf-8">
		<title>班级风采网站</title>
		<meta name="description" content="Free Responsive Html5 Css3 Templates ">
		<meta name="author" content="">

		<!-- Mobile Specific Metas
	================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- CSS
	================================================== -->
		<link rel="stylesheet" href="css/zerogrid.css">
		<link rel="stylesheet" href="css/menu.css">

		<!-- Custom Fonts -->
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<script src="js/jquery.min.js" type="text/javascript"></script>

		<style type="text/css">
			#main-content h2 {
				text-align: center;
			}
			.zerogrid .wrap-col{
				padding: 8px 16px;
				background: #F3D05D;
				height: 300px;
			}
		</style>
	</head>

	<body>
		<div class="wrap-body">

			<!--////////////////////////////////////Header-->
			<header class="zerogrid">
				<div id='cssmenu' class="align-center">
					<ul>
						<li><a href='index.html'><span>首页</span></a></li>
						<li class="active"><a href='notice.html'><span>班级公告</span></a>
						<li><a href='single.html'><span>班级简介</span></a></li>
						<li><a href='new-list.html'><span>班级新闻</span></a></li>
						<li><a href='archive.html'><span>班级活动</span></a></li>
						<li><a href='honor.html'><span>班级荣誉</span></a></li>
						<li><a href='learning-garden.html'><span>学习园地</span></a></li>
						<li><a href='message.html'><span>留言板</span></a></li>
					</ul>
				</div>
			</header>

			<div class="wrap-container">
				<div id="main-content" class="zerogrid">
					<h2>班级公告</h2>
					<div class="row">
						<div class="col-1-4">
							<div class="wrap-col">
								<h3>3月20日之前向导师汇报毕业设计进度</h3>
								<p>各位学委，请通知本班同学，从今天开始到3月20日之前，请各自向自己的导师汇报毕设进度：（1）现在毕设完成多少了，论文初稿写了多少；（2）目前存在哪些问题；（3）接下来的系统实现和论文初稿的计划安排。汇报的形式自行选择：电话、短信、QQ信息、微信信息、邮件均可。</p>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col">
								<h3>3月20日之前向导师汇报毕业设计进度</h3>
								<p>各位学委，请通知本班同学，从今天开始到3月20日之前，请各自向自己的导师汇报毕设进度：（1）现在毕设完成多少了，论文初稿写了多少；（2）目前存在哪些问题；（3）接下来的系统实现和论文初稿的计划安排。汇报的形式自行选择：电话、短信、QQ信息、微信信息、邮件均可。</p>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col">
								<h3>3月20日之前向导师汇报毕业设计进度</h3>
								<p>各位学委，请通知本班同学，从今天开始到3月20日之前，请各自向自己的导师汇报毕设进度：（1）现在毕设完成多少了，论文初稿写了多少；（2）目前存在哪些问题；（3）接下来的系统实现和论文初稿的计划安排。汇报的形式自行选择：电话、短信、QQ信息、微信信息、邮件均可。</p>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col">
								<h3>3月20日之前向导师汇报毕业设计进度</h3>
								<p>各位学委，请通知本班同学，从今天开始到3月20日之前，请各自向自己的导师汇报毕设进度：（1）现在毕设完成多少了，论文初稿写了多少；（2）目前存在哪些问题；（3）接下来的系统实现和论文初稿的计划安排。汇报的形式自行选择：电话、短信、QQ信息、微信信息、邮件均可。</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-1-4">
							<div class="wrap-col">
								<h3>3月20日之前向导师汇报毕业设计进度</h3>
								<p>各位学委，请通知本班同学，从今天开始到3月20日之前，请各自向自己的导师汇报毕设进度：（1）现在毕设完成多少了，论文初稿写了多少；（2）目前存在哪些问题；（3）接下来的系统实现和论文初稿的计划安排。汇报的形式自行选择：电话、短信、QQ信息、微信信息、邮件均可。</p>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col">
								<h3>3月20日之前向导师汇报毕业设计进度</h3>
								<p>各位学委，请通知本班同学，从今天开始到3月20日之前，请各自向自己的导师汇报毕设进度：（1）现在毕设完成多少了，论文初稿写了多少；（2）目前存在哪些问题；（3）接下来的系统实现和论文初稿的计划安排。汇报的形式自行选择：电话、短信、QQ信息、微信信息、邮件均可。</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</body>
</html>
