<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>班级风采网站后台管理系统</title>
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/theme.css">
	<link rel="stylesheet" href="/css/page.css">
	<style type="text/css">
		.table tbody tr td {
			vertical-align: middle;
		}

		td img,
		.img-box {
			width: 100px;
		}

		.operation {
			width: 250px;
		}
	</style>
</head>

<body class="theme-blue">
	<div id="app">
		<div class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a href="/">
					<span class="navbar-brand" style="color: #fff;"><span class="fa fa-paper-plane"></span>
						班级风采网站后台管理系统</span>
				</a>
			</div>

			<div class="navbar-collapse collapse" style="height: 1px;">
				<ul id="main-menu" class="nav navbar-nav navbar-right">
					<li class="dropdown hidden-xs">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-user padding-right-small"
								style="position:relative;top: 3px;"></span>
							{{username}}
							<i class="fa fa-caret-down"></i>
						</a>

						<ul class="dropdown-menu">
							<li><a tabindex="-1" href="/admin/loginout">退出登录</a></li>
						</ul>
					</li>
				</ul>

			</div>
		</div>

		<div class="sidebar-nav">
			<ul>
				<li><a href="/admin/index" v-if="userType ==1" class="nav-header"> 班级简介</a></li>
				<li><a href="/admin/notice" v-if="userType ==1" class="nav-header"> 班级公告</a></li>
				<li><a href="/admin/news" v-if="userType ==1" class="nav-header"> 班级新闻</a></li>
				<li class="active"><a href="/admin/activity" v-if="userType ==1" class="nav-header"> 班级活动</a></li>
				<li><a href="/admin/honor" v-if="userType ==1" class="nav-header"> 获奖信息</a></li>
				<li><a href="/admin/learningGarden" v-if="userType ==1" class="nav-header"> 学习园地</a></li>
				<li><a href="/admin/userlist" v-if="userType ==2" class="nav-header"> 成员管理</a></li>
				<li><a href="/admin/plan" v-if="userType ==2" class="nav-header"> 活动方案</a></li>
				<!-- 留言信息班干和老师都可以管理 -->
				<li><a href="/admin/message" class="nav-header"> 留言信息</a></li>
			</ul>
		</div>

		<div class="content">
			<div class="header">
				<h1 class="page-title">班级活动信息管理</h1>
			</div>
			<div class="main-content">
				<div class="row">
					<div class="col-sm-12">
						<div class="btn-toolbar list-toolbar">
							<a href="javascript:void(0);" @click="addActivityBtn" class="btn btn-primary"> 新增活动</a>
						</div>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>活动名称</th>
									<th>活动方案</th>
									<th>审核结果</th><!-- 未审核（0） 审核中（1） 审核通过（2） 审核不通过（3） -->
									<th>活动照片</th>
									<th>是否显示</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<template v-for="(v,index) in list">
									<tr>
										<td>{{v.title}}</td>
										<td class="planning">
											<a v-if="v.program != ''" href="javascript:void(0);"
												@click="downloadFile(v.id)">{{v.programName}}</a>
										</td>
										<td class="result">
											{{v.audit == 1 ? "未审核" : (v.audit == 2 ? "审核中" : (v.audit == 3 ? "审核通过" : "审核不通过"))}}
										</td>
										<td class="img-box"><img v-if="v.activityImg !=''" :src="v.activityImg"></td>
										<td>{{v.isShow == 1 ? "显示" : "不显示"}}</td>
										<td class="operation">
											<a href="javascript:void(0);" @click="uploadProgram(index)"
												class="upload-planning">上传方案</a>&nbsp;&nbsp;
											<a href="javascript:void(0);" @click="uploadImage(index)"
												class="upload-img">上传图片</a>&nbsp;&nbsp;
											<a href="javascript:void(0);"
												@click="showEdit(index)">{{v.isShow == 1 ? "关闭显示" : "开启显示"}}</a>&nbsp;&nbsp;
											<a href="javascript:void(0);" @click="deleteActivity(v.id)"
												class="delete-btn">删除</a>
										</td>
									</tr>
								</template>
							</tbody>
						</table>
						<div style="text-align: center;">
							<pageination :total="page.total" v-bind:size="page.size" :page="page.page" :objs="page"
								:changge="getActivityList">
							</pageination>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal small fade" id="edit-box" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3>新增活动</h3>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label>活动名称</label>
								<input type="text" v-model="activityTitle" class="form-control" placeholder="请输入活动名称">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
						<button class="btn btn-danger" @click="saveActivity">保存</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal small fade" id="file-upload" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3>图片上传</h3>
					</div>
					<div class="modal-body">
						<form>
							<input type="file" id="upload-btn" multiple="multiple" name="file"
								@change="uploadFile($event)" />
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
						<button class="btn btn-danger" @click="submitImage">上传</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal small fade" id="activity-upload" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3>方案上传-文件名不可以出现乱码否则上传失败</h3>
					</div>
					<div class="modal-body">
						<form>
							<input type="file" id="activity-btn" multiple="multiple" name="file-program"
								@change="uploadProgramFile($event)" />
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
						<button class="btn btn-danger" @click="submitProgram">上传</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
<!-- vue和http请求 -->
<script src="/js/jquery-3.0.0.min.js" type="text/javascript"></script>
<script src="/layer/layer.js" type="text/javascript"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/vue-resource.min.js"></script>
<script src="/js/pageination.js"></script>
<script src="/lib/bootstrap/js/bootstrap.js"></script>

<script type="text/javascript">
	var vm = new Vue({
		el: '#app',
		data: {
			activityTitle: "",
			pages: 1,
			page: {
				total: 1,//总页数
				size: 10,//每页显示条目个数不传默认10
				page: 1,//当前页码
			},
			list: [],
			uploadImageId: '',
			imageUrl: '',
			uploadProgramId: '',
			programUrl: '',
			username: '',
			userType: 1,
		},
		methods: {
			addActivityBtn: function () {
				$('#edit-box').modal('show');
				this.activityTitle = '';
			},
			saveActivity: function () {
				if (this.activityTitle == '') {
					layer.msg("活动名称为空");
					return;
				}
				let post = {
					title: this.activityTitle
				};
				this.$http.post("/admin/activity/addActivity", post).then(res => {
					layer.msg(res.body.msg);
					if (res.body.code == 200) {
						this.getActivityList(this.pages);
					}
					$('#edit-box').modal('hide');
				});
			},
			getActivityList: function (pages) {
				this.pages = pages;
				this.$http.get("/admin/activity/getActivityList/" + pages).then(res => {
					if (res.body.code == 200) {
						let data = res.body.data;
						this.page.size = data.size;
						this.page.page = data.current;
						this.page.total = data.total;
						data.records.forEach((item, index) => {
							if (item.program != '') {
								let pos = item.program.lastIndexOf('\/');
								let name = item.program.substring(pos + 1);
								item.programName = name;
							} else {
								item.programName = '';
							}
						});
						this.list = data.records;
					}
				})
			},
			deleteActivity: function (id) {
				layer.confirm('如果删除该活动，已经上传的活动方案和活动照片也将被删除，确定要删除该活动吗？', {
					btn: ['确定', '取消']
				}, function () {
					this.$http.get("/admin/activity/deleteActivity/" + id).then(res => {
						layer.msg(res.body.msg);
						if (res.body.code == 200) {
							this.getActivityList(this.pages);
						}
					})
				}.bind(this), function () {

				});
			},
			showEdit: function (index) {
				let show = this.list[index].isShow;
				let postShow;
				if (show == 1) {
					postShow = 2;
				} else {
					postShow = 1;
				}
				let post = {
					id: this.list[index].id,
					show: postShow,
				};
				this.$http.post("/admin/activity/showEdit", post).then(res => {
					layer.msg(res.body.msg);
					if (res.body.code == 200) {
						this.list[index].isShow = postShow;
					}
				})
			},
			uploadImage: function (index) {
				let img = this.list[index].activityImg;
				this.uploadImageId = this.list[index].id;
				this.imageUrl = '';
				if (img != "") {
					layer.confirm('活动图片已存在，重新上传后将覆盖原图片，确定要重新上传图片吗？', {
						btn: ['确定', '取消']
					}, function () {
						layer.closeAll();
						$("#upload-btn").val('');
						$('#file-upload').modal('show');

					}.bind(this), function () {

					});
				} else {
					$("#upload-btn").val('');
					$('#file-upload').modal('show');
				}
			},
			uploadFile: function (e) {
				this.file = event.target.files[0];
				let param = new FormData();
				param.append('upfile', this.file);
				this.$http.post('/config?action=uploadimage', param).then(function (res) {
					let src = res.body.url;
					this.imageUrl = src;
				})
			},
			submitImage: function () {
				if (this.imageUrl == '') {
					return;
				}
				let post = {
					id: this.uploadImageId,
					img: this.imageUrl
				};
				this.$http.post("/admin/activity/saveActivityImages", post).then(res => {
					layer.msg(res.body.msg);
					if (res.body.code == 200) {
						this.list.forEach((item, index) => {
							if (item.id == this.uploadImageId) {
								item.activityImg = this.imageUrl;
							}
						})
					}
				})
				$('#file-upload').modal('hide');
			},
			uploadProgram: function (index) {
				let program = this.list[index].program;
				this.uploadProgramId = this.list[index].id;
				this.programUrl = '';
				if (program != "") {
					layer.confirm('活动方案已存在，重新上传后将覆盖原方案，确定要重新上传方案吗？', {
						btn: ['确定', '取消']
					}, function () {
						layer.closeAll();
						$("#activity-btn").val('');
						$('#activity-upload').modal('show');

					}.bind(this), function () {

					});
				} else {
					$("#activity-btn").val('');
					$('#activity-upload').modal('show');
				}
			},
			uploadProgramFile: function (e) {
				this.file = event.target.files[0];
				let param = new FormData();
				param.append('upfile', this.file);
				this.$http.post('/config?action=uploadfile', param).then(function (res) {
					let src = res.body.url;
					this.programUrl = src;
				})
			},
			submitProgram: function () {
				if (this.programUrl == '') {
					return;
				}
				let post = {
					id: this.uploadProgramId,
					program: this.programUrl
				};
				this.$http.post("/admin/activity/saveActivityProgram", post).then(res => {
					layer.msg(res.body.msg);
					if (res.body.code == 200) {
						this.list.forEach((item, index) => {
							if (item.id == this.uploadProgramId) {
								item.program = this.programUrl;
								let pos = item.program.lastIndexOf('\/');
								let name = item.program.substring(pos + 1);
								item.programName = name;
							}
						})
					}
				})
				$('#activity-upload').modal('hide');
			},
			downloadFile: function (id) {
				window.location.href = "/admin/activity/downloadFile/" + id;
			},
			init: function () {
				if (window.sessionStorage) {
					if (sessionStorage.getItem("username")) {
						this.username = sessionStorage.getItem("username");
						this.userType = sessionStorage.getItem("userType");
					} else {
						this.$http.get("/admin/user/getUserSession").then(res => {
							if (res.body.code == 200) {
								let data = res.body.data;
								sessionStorage.setItem("username", data.username);
								sessionStorage.setItem("userType", data.userType);
								this.username = data.username;
								this.userType = data.userType
							}
						})
					}
				}
			},
		},
		created: function () {
			this.init();
		}
	});

</script>

</html>