<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>班级风采网站后台管理系统</title>
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">

		<script src="lib/jquery-1.11.1.min.js" type="text/javascript"></script>

		<link rel="stylesheet" type="text/css" href="stylesheets/theme.css">
		
		<style type="text/css">
			.infor{
				width: 40%;
			}
			.author,.operation{
				width: 100px;
			}
		</style>
	</head>
	<body class=" theme-blue">

		<div class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<span class="navbar-brand" style="color: #fff;"><span class="fa fa-paper-plane"></span> 班级风采网站后台管理系统</span>
			</div>

			<div class="navbar-collapse collapse" style="height: 1px;">
				<ul id="main-menu" class="nav navbar-nav navbar-right">
					<li class="dropdown hidden-xs">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> 
							小绿
							<i class="fa fa-caret-down"></i>
						</a>

						<ul class="dropdown-menu">
							<li><a tabindex="-1" href="sign-in.html">退出登录</a></li>
						</ul>
					</li>
				</ul>

			</div>
		</div>

		<div class="sidebar-nav">
			<ul>
				<li><a href="index.html" class="nav-header"> 班级简介</a></li>
				<li class="active"><a href="notice.html" class="nav-header"> 班级公告</a></li>
				<li><a href="new.html" class="nav-header"> 班级新闻</a></li>
				<li><a href="activity.html" class="nav-header"> 班级活动</a></li>
				<li><a href="honor.html" class="nav-header"> 获奖信息</a></li>
				<li><a href="learning-garden.html" class="nav-header"> 学习园地</a></li>
				<li><a href="userlist.html" class="nav-header"> 成员管理</a></li>
				<li><a href="activity.html" class="nav-header"> 活动方案</a></li>
				<!-- 留言信息班干和老师都可以管理 -->
				<li><a href="message.html" class="nav-header"> 留言信息</a></li>
			</ul>
		</div>

		<div class="content">
			<div class="header">
				<h1 class="page-title">班级公告信息管理</h1>
			</div>
			<div class="main-content">
				<div class="row">
					<div class="col-sm-12">
						<div class="btn-toolbar list-toolbar">
						  <a href="notice-detail.html" class="btn btn-primary"> 新增</a>
						</div>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>标题</th>
									<th>内容</th>
									<!-- 最后一次编辑时间 -->
									<th>发布时间</th>
									<!-- 创建者 -->
									<th>作者</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>3月20日之前向导师汇报毕业设计进度</td>
									<td class="infor">各位学委，请通知本班同学，从今天开始到3月20日之前，请各自向自己的导师汇报毕设进度：（1）现在毕设完成多少了，论文初稿写了多少；（2）目前存在哪些问题；（3）接下来的系统实现和论文初稿的计划安排。汇报的形式自行选择：电话、短信、QQ信息、微信信息、邮件均可。</td>
									<td>2020-04-02 12:00:00</td>
									<td class="author">小绿</td>
									<td class="operation">
										<a href="notice-detail.html">编辑</a>&nbsp;&nbsp;
										<a href="#">删除</a>
									</td>
								</tr>
								<tr>
									<td>3月20日之前向导师汇报毕业设计进度</td>
									<td class="infor">各位学委，请通知本班同学，从今天开始到3月20日之前，请各自向自己的导师汇报毕设进度：（1）现在毕设完成多少了，论文初稿写了多少；（2）目前存在哪些问题；（3）接下来的系统实现和论文初稿的计划安排。汇报的形式自行选择：电话、短信、QQ信息、微信信息、邮件均可。</td>
									<td>2020-04-02 12:00:00</td>
									<td class="author">小绿</td>
									<td class="operation">
										<a href="notice-detail.html">编辑</a>&nbsp;&nbsp;
										<a href="#">删除</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div style="text-align: center;">
							<ul class="pagination">
								<li><a href="#">«</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">...</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li><a href="#">»</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="lib/bootstrap/js/bootstrap.js"></script>
	</body>
</html>
