<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>班级风采网站后台管理系统</title>
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">

		<script src="lib/jquery-1.11.1.min.js" type="text/javascript"></script>

		<link rel="stylesheet" type="text/css" href="stylesheets/theme.css">
		
		<style type="text/css">
			.operation{
				width: 200px;
			}
		</style>
	</head>
	<body class=" theme-blue">

		<div class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<span class="navbar-brand" style="color: #fff;"><span class="fa fa-paper-plane"></span> 班级风采网站后台管理系统</span>
			</div>

			<div class="navbar-collapse collapse" style="height: 1px;">
				<ul id="main-menu" class="nav navbar-nav navbar-right">
					<li class="dropdown hidden-xs">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> 
							小绿
							<i class="fa fa-caret-down"></i>
						</a>

						<ul class="dropdown-menu">
							<li><a tabindex="-1" href="sign-in.html">退出登录</a></li>
						</ul>
					</li>
				</ul>

			</div>
		</div>

		<div class="sidebar-nav">
			<ul>
				<li><a href="index.html" class="nav-header"> 班级简介</a></li>
				<li><a href="notice.html" class="nav-header"> 班级公告</a></li>
				<li><a href="new.html" class="nav-header"> 班级新闻</a></li>
				<li><a href="activity.html" class="nav-header"> 班级活动</a></li>
				<li><a href="honor.html" class="nav-header"> 获奖信息</a></li>
				<li><a href="learning-garden.html" class="nav-header"> 学习园地</a></li>
				<li><a href="userlist.html" class="nav-header"> 成员管理</a></li>
				<li class="active"><a href="plan.html" class="nav-header"> 活动方案</a></li>
				<!-- 留言信息班干和老师都可以管理 -->
				<li><a href="message.html" class="nav-header"> 留言信息</a></li>
			</ul>
		</div>

		<div class="content">
			<div class="header">
				<h1 class="page-title">班级活动方案审核</h1>
			</div>
			<div class="main-content">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>活动名称</th>
									<th>活动方案</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>参加的“xxx”主题知识讲座</td>
									<td><a href="#">这是活动方案的文件名</a></td>
									<td class="operation">
										<a href="#">通过</a>&nbsp;&nbsp;
										<a href="#">不通过</a>&nbsp;&nbsp;
										<a href="#">下载方案</a>
									</td>
								</tr>
								<tr>
									<td>参加的“xxx”主题知识讲座</td>
									<td><a href="#">点击文件名可以在线预览PDF文件</a></td>
									<td class="operation">
										<a href="#">通过</a>&nbsp;&nbsp;
										<a href="#">不通过</a>&nbsp;&nbsp;
										<a href="#">下载方案</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal small fade" id="update-position" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        <h3>职位调整</h3>
		      </div>
		      <div class="modal-body">
		        <form>
					<div class="form-group">
						<label>职位</label>
						<input type="text" class="form-control" placeholder="请输入新职位名称">
					</div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
		        <button class="btn btn-danger" data-dismiss="modal">确定</button>
		      </div>
		    </div>
		  </div>
		</div>

		<script src="lib/bootstrap/js/bootstrap.js"></script>
	</body>
</html>
